
<div class="wrapper">
  <div class="page-content">
      <header class="header">
        <h1 class="header-title center"><%=page.tag%></h1>
      </header>
      <% var last_year = ''; %>
      <% page.posts.each(article => { %>
        <% var cur_year = article.date.year(); %>
        <% if(last_year !== cur_year){ %>
        <h2 class="list-year"><%- cur_year %><svg xml="<%- getAnimalIcon(cur_year) %>" class="icon"></svg></h2>
        <% last_year = cur_year; } %>
        <div class="post-item">
          <a class="post-item-title"  href="<%=url_for(article.path)%>">
            <%=article.title%>
          </a>
        </div>
      <% }) %>
    </div>
</div>